/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --z-1: 1;
  --z-2: 10;
  --z-3: 100;
  --z-4: 1000;
  --z-5: 10000;
  --dark: #365764;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background: #e9e9e9; */
}

h1 {
  margin: 2rem 0 1rem;
  padding: 0;
  text-align: center;
  font-style: oblique;
}

/* h1 span {
  font-size: 1.2rem;
} */

h4 {
  color: white;
  text-align: center;
  margin: 1rem 0;
}

h5 {
  font-size: 1.1rem!important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  cursor: default;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
}

a:hover {
  opacity: 0.5;
}

textarea {
  display: block;
}

button {
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 4px;
}

button:hover {
  opacity: 0.7;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.overlay-filler-parent {
  position: relative;
}

.overlay-filler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b0b0b0ab;
  z-index: var(--z-3);
  
}

.overlay-full-content {
  width: 95%;
  height: 95%;
  background: white;
  margin: auto;
  position: relative;
  max-width: 1000px;
}

.overlay-small-content {
  width: 450px;
  height: 450px;
  background: white;
  margin: auto;
  position: relative;
  padding: 0;
  max-width: 1000px;
}

.overlay-small-content > div.user-account-data {
  
  padding: 1rem;
}


.overlay-small-content h5 {
  border-bottom: 1px dotted var(--dark);
  padding-bottom: 1rem;
  margin: 0;
}


button {
  cursor: pointer;
  border: none;
}

input {
  width: 300px;
}

.react-datepicker-wrapper input {
  width: 120px;
}

.clickable-icon {
  cursor: pointer;
}

.clickable-icon:hover {
  opacity: 0.6;

}

/* STICKY:START */

/* Page content */
.content {
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-2);
}

.sticky + .content {
  padding-top: 102px;
} 

/* STICKY:END */

/* PAGINATION:START */

ul.pagination {
  background: white;
  border: 1px solid #f1f1f1;
  margin: auto;
  border-radius: 0.1rem;
}

.pagination-item {
  /* padding: 1rem; */
  cursor: pointer;
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
}
.pagination-item:hover {
  opacity: 0.5;
}
.page-link {
  
  width: 30px;
  border-radius: 0.2rem;;
  text-align: center;
  text-decoration: underline;
}

.page-link-active {
  color: white;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.nav-link {
  background: white;
  /* padding: 0.25rem; */
}

.nav-link-disabled {
  opacity: 0.5;
  cursor: defualt;
  pointer-events: none;
}

/* PAGINATION:END */

.content {
  margin-left: 0;
}

.qrated-ctn {
  /* margin-left: 250px; */
}
.navbar {
  position: fixed;
  height: 100%;
  width: 250px;
}

.navbar ul {
  margin-top: 4rem;
}text

.navbar ul li {
  /* color: white; */
  padding: 1rem;
}

.navbar ul li a  {
  text-decoration: none;
  padding-left: 0.5rem;
}

.navbar ul li.separate span {
  display: block;
  border-bottom: 1px dotted white;
}

.navbar div.logo-container p {
  color: white;
}

.navbar div.logo-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-3);
  padding: 0.5rem;
  /* background: white;
  margin: 0 0 16px 21px; */
  border-radius: 0.2rem;

}

.navbar div.logo-container  li.active  a{
  font-weight: bold;
}

.navbar div.logo-container  li {
  font-style: italic;
  text-align: left;
  padding-left: 0.25rem 0;
  font-style: normal;
}

.navbar div.logo-container  li a {
  text-decoration: underline;
  cursor: pointer;
}

.navbar div.logo-container  li a:hover {
  opacity: 0.5;
}

.navbar div.logo-container  li.active a {
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}
.navbar div.logo-container  ul {
  margin-top: 0;
}
.Dropdown-root {
  position: relative;
  font-size: 0.8rem;
  min-width: 120px;
  max-width: 300px;
}

.action-icon {
  cursor: pointer;
}
.action-icon:hover {
  opacity: 0.5;
}

.status-widget {
  position: fixed; 
  transition: opacity 0.25s;
  z-index: 1111111; 
  left: 50px;
}

.status-widget p {
 
  padding: 1rem; 
  background: white; 
  display: inline-block;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  pointer-events:none;
  background: #d97706;
  border: 2px solid #f2f2f2;
}

.icon-with-baloon {
  position: relative;
}

.icon-with-baloon span {
  position: absolute;
  font-size: 11px;
  padding: 0.2rem;
  border-radius: 50%;
  right: -20px;
  top: -12px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  width: 20px;
  height: 20px;
}

svg {
  display: none;
}

input {
  
  outline: none;
  padding: 0.5rem;
}

input:focus, input:focus-visible, input:focus-within {
  outline: none;
  border-color: #f2f2f2;
}

.with-border {
  border: 1px solid #a8a8a8;
}

/* LOADING */

.app-loading {
  margin-left: 250px;
}

.app-loading #toolbar > div  {
  opacity: 0.5;
}


.app-loading .sect-intro {
  padding: 0 1rem 1rem;
}

.loading-card-container {
  position: relative;
  border-radius: 0.25rem;
  height: auto;
  min-width: 400px;
  opacity: 0.5;
  top: 100px;

  --grid-layout-gap: 10px;
  --grid-column-count: 4;
  
  --grid-item--min-width: 420px;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
}

.app-loading table  {
    opacity: 0.5;
    margin-top: 0;
    
    padding: 1rem;
}

.app-loading table th {
  background: #a6a6a6;
}



.create-article {
  display: none;
}

.development .create-article {
  display: block;
}

.StyledCardContainer {
  --grid-layout-gap: 10px;
  --grid-column-count: 4;
  --grid-item--min-width: 420px;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  gap: var(--grid-layout-gap);
}

.sectioned h3 {
  list-style-type: disc;
  display: list-item;
  list-style-position: inside;
  margin-top: 2rem;
}

.sectioned h3:first-child {
  margin-top: auto;
}

.create-articles {
  padding-top: 2rem;
}

.prod-flag {
  display: none;
}

.loading-gen-container {
  padding: 1rem;
  width: 500px;
}

.loading-gen-container h5 {
  background: #e9e9e9;
  padding: 1.2rem;
  margin: 2rem 0;
}

.loading-gen-container p {
  background: #f4f4f4;
  padding: 1rem;
}