/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --z-1: 1;
  --z-2: 10;
  --z-3: 100;
  --z-4: 1000;
  --z-5: 10000;
  --dark: #365764;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #e9e9e9;
}

h1 {
  font-size: 6rem;
  margin: 1rem 0 0;
  padding: 0;
  text-align: center;
  color: #f2f2f2;
}

h1 span {
  font-size: 1.2rem;
}

h2, h3, h4, h5 {
  /* color: #195660 !important; */
}

h5 {
  font-size: 1.1rem!important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  cursor: default;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
}

a:hover {
  opacity: 0.5;
}

textarea {
  display: block;
}

button {
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 4px;
}

button:hover {
  opacity: 0.7;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.overlay-filler-parent {
  position: relative;
}

.overlay-filler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000060;
  z-index: var(--z-3);
  
}

.overlay-full-content {
  width: 95%;
  height: 95%;
  background: white;
  margin: auto;
  position: relative;
  padding: 2rem;
  max-width: 1000px;
}

.overlay-full-content h5 {
  border-bottom: 1px dotted var(--dark);
  padding-bottom: 1rem;
}



button {
  cursor: pointer;
  border: none;
}

input {
  width: 300px;
}

.logoimg path {
  fill: #f2f2f2;
}

.react-datepicker-wrapper input {
  width: 120px;
}

.clickable-icon {
  cursor: pointer;
}

.clickable-icon:hover {
  opacity: 0.6;

}

/* STICKY:START */

/* Page content */
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-2);
}

.sticky + .content {
  padding-top: 102px;
} 

/* STICKY:END */

.pagination-item {
  padding: 1rem;
  cursor: pointer;
}
.pagination-item:hover {
  opacity: 0.5;
}
.page-link {
  
  width: 50px;
  text-align: center;
}

.page-link-active {
  color: white;
  cursor: default;
  pointer-events: none;
}

.nav-link {
  background: white;
  padding: 1rem;
}

.nav-link-disabled {
  opacity: 0.5;
}

.content {
  margin-left: 210px;
}

.navbar {
  position: fixed;
  height: 100%;
  width: 210px;
}

.navbar ul {
  margin-top: 4rem;
}text

.navbar ul li {
  /* color: white; */
  padding: 1rem;
}

.navbar ul li a  {
  text-decoration: none;
  padding-left: 0.5rem;
}

.navbar ul li.separate span {
  display: block;
  border-bottom: 1px dotted white;
}

.navbar h2 {
  font-style: italic;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: var(--z-3);
  color: #f2f2f2;
  font-size: 2rem;
  font-style: normal;

}
.Dropdown-root {
  position: relative;
  font-size: 0.8rem;
  min-width: 120px;
  max-width: 300px;
}

.action-icon {
  cursor: pointer;
}
.action-icon:hover {
  opacity: 0.5;
}

.status-widget {
  position: fixed; 
  transition: opacity 0.25s;
  z-index: 1111111; 
  left: 50px;
}

.status-widget p {
 
  padding: 1rem; 
  background: white; 
  display: inline-block;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  pointer-events:none;
  background: #d97706;
  border: 2px solid #f2f2f2;
}

.icon-with-baloon {
  position: relative;
}

.icon-with-baloon span {
  position: absolute;
  font-size: 11px;
  padding: 0.2rem;
  border-radius: 50%;
  right: -20px;
  top: -12px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  width: 20px;
  height: 20px;
}

svg {
  display: none;
}

input {
  
  outline: none;
  padding: 0.5rem;
}

input:focus, input:focus-visible, input:focus-within {
  outline: none;
  border-color: #f2f2f2;
}

.with-border {
  border: 1px solid #b45309;
}