/* TOAST */

.toast {
    z-index: var(--z-5);
    padding: 0;
    left: 0;
    top: -6rem;
    position: fixed;
    transition: top 0.2s;
    width: 100%;
    margin: 0;
}
.toast.active {
    top: 0;
}

.toast p {
    color: white;
    padding: 1rem;
    margin: 0;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

/* Login */

.login {
    z-index: var(--z-1);
}

/* THREE PANEL */

@media only screen and (max-width: 1150px) {
    .three-panel {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        transition: left 0.2s;
        overflow-y: scroll;
    }
    
    .three-panel > div {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

/* TOOLBAR */

#toolbar {
    padding: 1rem 1rem 0 0;
}